[user]
	email = smit.jurie@gmail.com
	name = justaghost
[core]
	autocrlf = false
	eol = lf
	excludesfile = .gitignore
[pull]
	rebase = true
[push]
	default = current
[init]
	defaultBranch = main
[color]
	ui = auto