:root {}

.vlist-viewport {
  height: var(--vh);
}

.vlist-spacer {
  height: var(--spacer-h);
}

.vlist-offset {
  position: relative;
  top: 0; /* now effective */
  transform: translateY(var(--offsetY));
  will-change: transform;
}
